<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Aqui será a Sessão de Tecnologia <3</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h2>Bem vindo ao portal sobre tecnologia</h2>
</body>
</html>